@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif !important;
    background-image: url(../imagens/matrix.gif);
}

hr {
    background-color: #00ff00;
    height: 1px;
    color: #00ff00;
}

td {
    font-size: 2rem;
}

.texto {
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
    font-family: serif;
    font-size: 2.35rem;
}

blockquote {
    font-size: 2.3rem;
    color: #83e71f;
}

.panel-primary:hover {
    opacity: 0.8;
    cursor: pointer;
}

.list-group-item {
    margin-bottom: 1px;
}

.cabecalho {
    color: #83e71f;
}

.corpo-blog {
    text-align: justify;
}

.img-responsiva {
    display: none;
    border: 4px solid #00ff00;
}

.btn-primary {
    color: black !important;
    border-radius: 7px;
}

.titulo {
    font-size: 5.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #9900e5, 2px 2px 2px #9900e5;
    margin-right: 10px;
    margin-left: 10px;
}

.subtitulo {
    font-size: 3.5rem;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 2px #9900e5, 2px 2px 2px #9900e5;
}

.fa-pills {
    color: red;
}

.matrix, .matrix:hover {
    color: red;
}

.manifesto {
    color: #be3cfa;
}

.manifesto:hover {
    color: #00E600;
    text-decoration: underline;
}

.hacking, .hacking:hover {
    color: #f200ff;
}

.filosofias, .filosofias:hover {
    color: #09cde3;
}

.secret, .secret:hover {
    color: #ff8000;
}

.titulo-arte {
    font-size: 4.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #9900e5;
    margin-bottom: 20px;
    margin-top: 7px;
}

.titulo-arte > a {
    font-size: 3.7rem;
    color: #0c0;
}

.btn-primary:focus {
    background-color: #00ff00 !important;
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}

.well {
    max-width: 1000px;
    margin: auto;
    opacity: 0.9;
    border: 1.5px solid #83e71f;
}

.foot {
    margin-bottom: 20px;
}

.centro {
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-autor {
    width: 265px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1.3px solid #00ff00;
}

.bg-1 {
    background-color: black;
}

textarea {
    resize: none;
}

a {
    font-size: 25px;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.arte-imagem {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #00ff00;
    transition: transform 1.5s ease, filter 5s ease;
}

.arte-imagem:hover {
    filter: saturate(3);
}

.gallery-artwork {
    border: 1.2px #00ff00 solid;    
    margin-bottom: 30px;
    max-width: 90%;
    transition: transform 2s ease;
}

.gallery-artwork:hover {
    transform: scale(0.97);
}

.tz-gallery {
    padding-bottom: 0px !important;
}

.tall-row {
    margin-top: 40px;
}

.modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}

.fab, .fas {
    line-height: normal !important;
}

.btn-primary:hover {
    background: #be3cfa; 
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: black; 
}
 
::-webkit-scrollbar-thumb {
    background: #00ff00; 
}

::-webkit-scrollbar-thumb:hover {
    background: #be3cfa;
}

.item {
    margin-bottom: 20px;
}
#search-bar {
    display: block;
    margin: 0 auto;
    background: black;
    height: 50px;
    border: 2px solid #be3cfa;
    color: #00ff00 !important;
    font-size: 3.5rem;
    padding-left: 10px;
    width: 90%;
}
#search-bar::placeholder {
    color: #00ff00 !important;           
}
#search-bar:focus {
    outline: none; 
    box-shadow: none; 
    border: 4px solid #be3cfa;
}
.search-avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 2px solid #00ff00;
}

@media screen and (max-width: 850px) {
    .arte-imagem {
        width: 75%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-responsiva {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-full {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    #game {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    .titulo {
        font-size: 4rem;
    }
    .titulo-arte {
        font-size: 3.3rem !important;
    }
}

@media screen and (max-width: 560px) {
    .texto {
        font-size: 2.1rem;
        text-align: left;
    }
}

@media screen and (max-width: 360px) {
    .img-responsiva {
        width: 85%;
    }
    .titulo {
        font-size: 3.1rem;
    }
    .scientia {
        font-size: 2.3rem;
    }
    .manifesto {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 350px) {
    .img-autor {
        width: 86%;
        height: auto;
    }
    .search-avatar {
        width: 90% !important;
        height: auto !important;
    }
}